.RecipeRecommend {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #f4f4f4;
    width: 100%;
    height: auto;
    overflow:auto;
}

.RecipeInfo {
    margin-left: 10px;
}

.RecipeTitle {
    color: #343434;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 5px;
}

.RecipeScore {
    color: #818181;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
}

.NoSearchResults {
    color: #343434;
    margin-top: 15px;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
}

.thumbnail {
    width: 160px;
    height: 90px;
    object-fit: cover;
}

.titleRecommend {
    left: 0px;
    top: 8px;
    height: 48px;
    width: 100%;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title .titleOrange {
    color: #7DBF1A;
    display: inline-block;
}

.title .titleBlack {
    color: #000000;
    display: inline-block;
}

.btn_arrow {
    vertical-align: middle;
}
