.ItemGrid {
    grid-auto-flow: column;
    overflow-x: scroll;
    vertical-align: middle;
    display: inline-grid;
    /*float: left;*/
    width: 100%;
    height: auto;
    grid-auto-columns: min-content;
}

.ItemGrid::-webkit-scrollbar {
    height: 4px;              /* height of horizontal scrollbar ← You're missing this */
    width: 4px;               /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
}

.ItemGrid::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

.ItemGrid::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

.ItemGridTile {
    flex: 0 0 auto;
    margin: 5px;
}

.ItemGridFridge {
    grid-template-rows: auto auto;
}

.ContainerName {
    /* text */
    text-align: left;
    margin-right: 10px;

    font-family: "Source Code Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */

    align-items: center;
    letter-spacing: 0.25px;

    color: #818181;
}

.AddItemButton {
    height: 24px;
    background-color: #7DBF1A;
    border-radius: 32px;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
    padding-left: 5px;
    padding-right: 20px;
    width: 50px;
    display: flex;
    float: left;
}

.AddItemButton:hover {
    cursor: pointer;
    background-color: #000000;
}

.AddItemLine {
    padding-left: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 24px;
    /* or 267% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.25px;

    color: #FFFFFF;

    /*vertical-align: middle;*/
}

.ContainerHeader {
    display: inline-flex;
    width: 100%;
    /*vertical-align: middle;*/
}

.ItemContainer {
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
}

.NoItem {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color: black;
    width: max-content;
}