.EditItem {
    padding: 5px 0 5px 0;
}

.EditItemContent {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 100px;
    padding: 10px;
}

.EditItemContent .Count {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EditItemContent .Count .Button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #7DBF1A;
    margin: 3px;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.4));
}

.EditItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tableContentName {
    text-align: right;
    font-family: "Noto Sans KR", "Roboto", sans-serif;
    font-size: 13px;
    line-height: 18px;
    min-width: 50px;
    height: 25px;
    color: #949494;
}

.tableContent {
    width: 130px;
    min-width: 130px;
    display: flex;
    flex-direction: row;
}

.retakeButton {
    width: 40px;
    height: 20px;
    border-radius: 12px;
    background-color: #7DBF1A;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.4));
    margin: 2px;

    text-align: center;
    font-family: "Noto Sans KR", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}

.retakeButton:hover {
    cursor: pointer;
    background-color: #f4f4f4;
}

.tableItemCard {
    margin-right: 28px;

}

.tableContentItemCard1 {
    width: 130px;
    min-width: 130px;
    height: 26.8px;
    font-family: "Noto Sans KR", "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: left;
}

.tableContentItemCard2 {
    width: 130px;
    min-width: 130px;
    height: 29.6px;
    font-family: "Noto Sans KR", "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: left;
}

.EditItemContentItemCard {
    height: 141.03px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CountEditItem {
    width: 120px;
    min-width: 120px;
    font-family: "Noto Sans KR", "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 18px;
}

.CategoryEditItem {
    width: 120px;
    min-width: 120px;
    font-family: "Noto Sans KR", "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 15px;
}