.Scanner {
  border-top: 0px solid #f10293;

}

.Scanner .viewport {
  width: 100%;
  margin: 0 auto;
}

.drawingBuffer {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.videoCamera {
  height: 100%;
  width: 100%;
}