.Scanner {
  border-top: 0px solid #f10293;

}

.Scanner .viewport {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-width: 100%;
  min-height: 100%;
}
.drawingBuffer {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.videoCamera {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  min-width: 100%;
  min-height: 100vh;

}
